extends ./layout/layout

block css
    link(rel="stylesheet", href="/css/html.css")

block contents
    include ./layout/tag.pug
    
    .layui-btn.layui-btn-lg.layui-btn-radius.layui-btn-normal#htmlbtn
        a(href="/article") 发布文章

    include ./layout/article.pug

block scripts

