/*
    Html子页面样式表
*/
@charset "utf-8";

.hwrap{
    width:690px;
    border:1px solid red;
    margin:100px auto;
    padding:9px;
}
#htmlbtn{
    position:absolute;
    top:88px;
    left:238px;
    z-index: 99;
}
#htmlbtn a{
    color:white;
}

