/*
    首页样式表
*/
@charset "utf-8";

body{
    background-color:rgb(248, 222, 222);
}
.iwrap{
    width:640px;
    margin:69px auto 0px;
}
.iwrapbgimg{
    width:100%;
    height:1180px;
    background:url("../images/485897.jpg") no-repeat 0 0;
    background-size:cover;
}







