/*
    通用导航栏样式表
*/
@charset "utf-8";

#nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:rgb(255, 98, 145);
    font-family:'Microsoft YaHei';
    z-index:999;
}
h1{
    line-height:69px;
    margin-right:52px;
    margin-left:38px;
}
h1 img{
    vertical-align:middle;
}
.nav-txt li{
    font-size:17px;
    color:white;
    line-height:69px;
    text-align:center;
    margin-left:38px; 
}
.nav-txt li a{
    color:white;
}
#login{
    position:absolute;
    top:0;
    right:0;
}
#login li{
    font-size:17px;
    color:white;
    line-height:69px;
}
#login .user{
    position:relative;
    margin:0 38px 0 10px;
}
.user a{
    color:white;
    font-size:20px;
    font-weight:bold;
}
#login .user2{
    margin:0 20px;
}
#login .user2 a{
    color:white;
    font-weight:bold;
}
.userico{
    position:absolute;
    top:33px;
    left:105px;
    width:0px;
    height:0px;
    border-top:9px solid rgb(52, 78, 102);
    border-right:7px solid rgba(0,0,0,0);
    border-left:7px solid rgba(0,0,0,0);
}
.userimg{
    height:69px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-right:52px;
}
.userimg a{
    color:white;
    font-size:18px;
}
.userimg a img{
    width:38px;
    height:38px;
    vertical-align:middle;
    margin-right:9px;
}
.usertab1{
    display:none;
}
.usertab2{
    position:absolute;
    top:69px;
    left:0;
    width:125px;
    background-color:rosybrown;
}
.usertab2 li{
    color:white;
    line-height:38px;
    text-align:center;
    border-bottom:1px solid white;
    margin:0;
}
.usertab2 li a{
    font-size:17px;
}
#nav-box{
    height: 69px;
}

