// 公共文章发表页面

link(rel="stylesheet", href="/css/html-article.css")

#html-article
    table.layui-table
        colgroup
            col(width="188")
            col(width="888")
            col(width="222")
            col
        thead
            tr
                th 用户昵称
                th 文章简介
                th 发布日期
                th 点评数量
        tbody
            tr
                td 
                    img(src="/images/name1.jpg", alt="头像")
                    span 贤心
                td 人生就像是一场修行
                td 2016-11-29 09:20:00
                td 0
            tr
                td
                    img(src="/images/name1.jpg", alt="头像")
                    span 许闲心
                td 于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…
                td 2016-11-28 09:21:00
                td 0
            tr
                td
                    img(src="/images/name1.jpg", alt="头像")
                    span 许闲心
                td 于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…
                td 2016-11-28 09:22:00
                td 0
            tr
                td
                    img(src="/images/name1.jpg", alt="头像")
                    span 许闲心
                td 于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…
                td 2016-11-28 09:23:00
                td 0

script(src="/js/html-article.js")

