// 公共底部

link(rel="stylesheet", href="/css/footer.css")

#blog-footer
    p.footp 2018-06 ©
        a(href="//web.tanzhouedu.com/Web/view/main.html").foota1 潭州前端学院44期JavaScript
        a(href="//www.tanzhouedu.com/").foota2 tanzhou.com

