// 公共侧边栏内容

link(rel="stylesheet", href="/css/tag.css")
    
#tag
    ul(lay-filter="test").layui-nav.layui-nav-tree
        li.layui-nav-item.layui-nav-itemed
            a(href="#") 默认展开
            dl.layui-nav-child
                dd
                    a(href="#") 没想好要跳转到哪里
                dd
                    a(href="#") 没想好要跳转到哪里
                dd
                    a(href="") 没想好要跳转到哪里
        li.layui-nav-item
            a(href="#") 没想好要跳转到哪里
            dl.layui-nav-child
                dd
                    a(href="#") 没想好要跳转到哪里
                dd
                    a(href="#") 没想好要跳转到哪里
                dd
                    a(href="#") 没想好要跳转到哪里
        li.layui-nav-item
            a(href="#") 没想好要跳转到哪里
        li.layui-nav-item
            a(href="#") 没想好要跳转到哪里

script(src="/js/tag.js")

